
/* changes */
:root{
  --primary:  ;
  --secondry:white ;
  --sidebar_bg: #47484B ;
  --sidebar_bg2: #3C3F41 ;

}

#titlebar, .modal-bar{    
    background-color: var(--primary);
}
.dropdown-toggle {
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    font-weight: bold;

}
#titlebar .nav .dropdown-menu { 
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondry);
    -webkit-animation: dropdown 90ms cubic-bezier(0, 0.97, 0.2, 0.99) 0ms 1;
    animation: dropdown 90ms cubic-bezier(0, 0.97, 0.2, 0.99) 0ms 1;

}
.dropdown-menu { 
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondry);

}
#sidebar {
    background-color: var(--sidebar_bg);
    -webkit-filter: brightness(85%);
    filter: brightness(85%);

}
#project-files-header .btn-alt-quiet {
    background-color: var(--sidebar_bg);
 
}
.open-files-container li.selected a {
 /*   background: var(--sidebar_bg); */
} 

#working-set-list-container > div:last-child ul{
    background: var(--sidebar_bg2);

}
.open-files-container ul{
        background: var(--sidebar_bg2);
}

.working-set-header{
    background: var(--sidebar_bg2);

}

#main-toolbar #plugin-icons-bar{
    background: var(--sidebar_bg);

}
#working-set-list-first-pane {
    background-color: #f89406;
}
.dropdown.open {
    
}

#main-toolbar {
    

    }
    
    

.toolbar .nav .dropdown-menu li a, .context-menu .dropdown-menu li a, .codehint-menu .dropdown-menu li a, .inlinemenu-menu .dropdown-menu li a {     
    font-size: 14px;
    line-height: 18px;
    padding: 4px 10px 4px 8px;
    text-shadow: none;
    white-space: nowrap;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.project-files-container{ background-color: green;}

